# Ignore node_modules directory
node_modules/

# Ignore build output
dist/

# Ignore environment-specific files
.env

# Ignore logs
*.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore package-lock.json (npm)
package-lock.json

# Ignore yarn.lock (Yarn)
yarn.lock
